* { margin: 0; padding: 0; }

html {
    height: 100%;
}

body {
    background-image: url("Images/pexels-aarti-vijay-2693529.jpg");
    background-color: #cccccc;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

   }
img {
    padding: 10px;
    float: left;
}

form {
    background: white;
    overflow: hidden;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: tan;
}

.form-group {
    background: white;
    overflow: hidden;

}

.selfie {
   height: 300px;
   width: 300px;

}

.container {
    color: white;
    margin-top: 50px;
    padding-bottom: 10px;
    overflow: auto
}

.card {
    margin: auto;
    width: 50%;
    padding: 10px;

    
}

#home {
    margin: 10px;
}
