* { margin: 0; padding: 0; }

html {
    height: 100%;
}

body {
    background-image: url("Images/pexels-aarti-vijay-2693529.jpg");
    background-color: #cccccc;
    background-size: cover;

   }

.container {
    background: white;
    margin-top: 50px;
    padding-bottom: 10px;
    width:1500px;
}

form {
    background: white;
    margin-top: 50px;
    padding-bottom: 10px;
    width:1500px;
}

.form-group {
    background: white;

}
