* { margin: 0; padding: 0; }

html {
    height: 100%;
}

body {
    background-image: url("Images/pexels-aarti-vijay-2693529.jpg");
    background-color: #cccccc;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

   }

.container {
    background: white;
    margin-top: 50px;
    padding-bottom: 10px;
}

form {
    background: white;
    overflow: hidden;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-group {
    background: white;

}

.selfie {
   height: 500px;
   width: 400px;

}
